/* @media (max-aspect-ratio: 1/1) {
  .logoipsum {
    background-color: aquamarine;
    height: 20vh;
    overflow: hidden;
    position: relative;
  }

  .Box {
    background-color: red;
    overflow: hidden;
    width: auto;
  }

  .Boximg {
    background-color: red;
    height: 10vh;
  }
} */

@keyframes marqueeScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logoipsum-marquee {
  display: flex;
  /* width: max-content; */
  animation: marqueeScroll 15s linear infinite;
}
