/* @media (max-aspect-ratio: 1/1) {
  .logoipsum {
    background-color: aquamarine;
    height: 20vh;
    overflow: hidden;
    position: relative;
  }

  .Box {
    background-color: red;
    overflow: hidden;
    width: auto;
  }

  .Boximg {
    background-color: red;
    height: 10vh;
  }
} */
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.D-logoipsum-container {
  overflow: hidden;
}

.D-logoipsum-marquee {
  animation: marqueeScroll 10s linear infinite;
}

.Boximg {
  object-fit: contain;
}
